@use "../mixins";

.about {
  background-color: var(--color-westar);
  padding: 95px 0 30px 0;

  @include mixins.respond-to(mobileOnly) {
    padding: 60px 0 30px 0;
  }

  @include mixins.respond-to(tabletOnly) {
    padding: 60px 0 30px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subject {
    display: flex;

    background: var(--color-asphalt);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
    border-radius: 25px;

    margin-bottom: 30px;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: auto;

      padding: 10px;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      height: auto;

      padding: 20px;
    }

    @include mixins.respond-to(desktopS) {
      width: 100%;
      height: auto;

      padding: 20px;
    }

    @include mixins.respond-to(desktopD) {
      width: 1100px;
      height: 635px;

      padding: 30px;
    }
  }

  &__subject-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 100%;
    min-height: inherit;
    border: 1px solid var(--color-domino);
    border-radius: 20px;

    padding: 75px 190px 60px 130px;

    @include mixins.respond-to(mobileOnly) {
      padding: 10px;
    }

    @include mixins.respond-to(tabletOnly) {
      padding: 20px;
    }
  }

  &__subject-inner h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: var(--color-domino);

    margin: 0 0 40px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 20px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 20px 0;
    }
  }

  &__subject-text {
    overflow-y: auto;

    padding: 0 20px 0 0;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 20px;
      background: var(--color-dorado);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background: var(--color-domino);
    }
  }

  &__subject-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: var(--color-mercury);

    margin: 0 0 40px 0;

    &:last-of-type {
      margin: 0;
    }

    @include mixins.respond-to(mobileOnly) {
      font-size: 16px;
    }

    @include mixins.respond-to(tabletOnly) {
      font-size: 16px;
    }
  }

  &__menu {
    display: flex;

    background: var(--color-asphalt);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
    border-radius: 25px;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: auto;

      padding: 10px;
      margin: 60px 0 30px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      height: auto;

      padding: 20px;
      margin: 60px 0 30px 0;
    }

    @include mixins.respond-to(desktopS) {
      width: 100%;
      height: auto;

      padding: 20px;
      margin: 60px 0 30px 0;
    }

    @include mixins.respond-to(desktopD) {
      width: 1100px;
      height: 635px;

      padding: 30px;
      margin: 120px 0 30px 0;
    }
  }

  &__menu-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    width: 100%;
    min-height: inherit;
    border: 1px solid var(--color-domino);
    border-radius: 20px;

    padding: 75px 190px 70px 130px;

    @include mixins.respond-to(mobileOnly) {
      padding: 10px;
    }

    @include mixins.respond-to(tabletOnly) {
      padding: 20px;
    }
  }

    &__menu-inner h2 {
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: var(--color-domino);

    margin: 0 0 40px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 20px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 20px 0;
    }
  }

  &__menu-text {
    overflow-y: auto;

    padding: 0 20px 0 0;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 20px;
      background: var(--color-dorado);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background: var(--color-domino);
    }
  }

  &__menu-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: var(--color-mercury);

    margin: 0 0 40px 0;

    &:last-of-type {
      margin: 0;
    }

    @include mixins.respond-to(mobileOnly) {
      font-size: 16px;
    }

    @include mixins.respond-to(tabletOnly) {
      font-size: 16px;
    }
  }

  &__menu-links {
    display: flex;

    margin: 100px 0 0 0;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;

      margin: 50px 0 0 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 50px 0 0 0;
    }
  }

  &__menu-link {
    width: 250px;

    margin: 0 40px 0 0;

    &:last-child {
      margin: 0;
    }

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 20px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}