@use "../mixins";

.contacts {
  background-color: var(--color-westar);

  &__container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 50px 0 80px 0;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }
  }

  &__info {
    position: absolute;
    top: 50px;
    left: 0;

    width: 450px;
    height: 560px;
    background-color: var(--color-asphalt);
    border: 1px solid var(--color-gallery);
    border-radius: 20px;
    box-shadow: 0px 16px 51px rgba(0, 0, 0, 0.11);
    scroll-margin-top: 20px;

    transition: 0.3s;

    padding: 20px;

    @include mixins.respond-to(mobileOnly) {
      position: relative;
      top: auto;
      left: auto;

      width: 100%;
      height: auto;

      padding: 10px;
    }
  }

  &__info--right {
    left: auto;
    right: 0;

    transition: all 0.3s;
  }

  &__info-inner {
    position: relative;

    width: 100%;
    height: 100%;
    border: 1px solid var(--color-domino);
    border-radius: 20px;

    padding: 55px 70px 35px 60px;
  }
  
  &__info-move {
    position: absolute;
    top: 7px;
    right: 7px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border: 1px solid var(--color-dorado);
    border-radius: 50%;
    background-color: var(--color-asphalt);
    cursor: pointer;

    transition: 0.1s;

    &:hover {
      background-color: var(--color-dorado);

      transition: all 0.1s;
    }

    &:hover .contacts__arrow-icon {
      fill: var(--color-black);

      transition: all 0.1s;
    }

    @include mixins.respond-to(mobileOnly) {
      display: none;
    }

    @include mixins.respond-to(tabletOnly) {
      display: none;
    }
  }

  &__info-move--right .contacts__arrow-icon {
    transform: rotate(90deg);

    transition: all 0.1s;
  }

  &__arrow-icon {
    fill: var(--color-geebung);
    
    transform: rotate(-90deg);

    transition: all 0.1s;
  }

  &__info-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-domino);

    margin: 0 0 35px 0;
  }

  &__info-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin: 0 0 40px 0;
  }

  &__info-item {
    position: relative;

    padding: 0 0 0 30px;
    margin: 0 0 20px 0;

    &:last-of-type {
      margin: 0;
    }

    &--phone {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 18px;
        height: 18px;
        background: url("../img/image/design/icon-phone.svg");
        background-size: 18px 18px;
        background-position: center;
        background-repeat: none;
      }
    }

    &--map {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 16px;
        height: 19px;
        background: url("../img/image/design/icon-map.svg");
        background-size: 16px 19px;
        background-position: center;
        background-repeat: none;
      }
    }

    &--time {
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        width: 20px;
        height: 20px;
        background: url("../img/image/design/icon-time.svg");
        background-size: 20px 20px;
        background-position: center;
        background-repeat: none;
      }
    }
  }

  &__info-link {
    position: relative;

    display: inline-block;

    overflow: hidden;

    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-mercury);

    padding: 0 0 5px 0;

    &::before {
      content: "";
      position: absolute;
      left: -100%;
      bottom: 0;

      width: 100%;
      height: 2px;
      background-color: var(--color-geebung);

      transition: 0.3s;
    }

    &:hover::before {
      left: 0;

      transition: all 0.3s;
    }

    &:active {
      color: var(--color-geebung);

      transition: all 0.1s;
    }

    &:focus-visible {
      outline: 3px solid var(--color-geebung);
      outline-offset: 5px;

      transition: all 0.1s;
    }
  }

  &__info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-mercury);
  }

  &__info-links {
    display: flex;
    flex-direction: column;

    margin: 0 0 20px 0;
  }

  &__links-opentable {
    position: relative;

    display: inline-block;

    width: fit-content;
    overflow: hidden;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-mercury);

    padding-bottom: 5px;
    margin: 0 0 20px 0;

    &::before {
      content: "";
      position: absolute;
      left: -100%;
      bottom: 0;

      width: 100%;
      height: 2px;
      background-color: var(--color-geebung);

      transition: 0.3s;
    }

    &:hover::before {
      left: 0;

      transition: all 0.3s;
    }

    &:active {
      color: var(--color-geebung);

      transition: all 0.1s;
    }

    &:focus-visible {
      outline: 3px solid var(--color-geebung);
      outline-offset: 5px;

      transition: all 0.1s;
    }
  }

  &__links-list {
    display: flex;
    flex-wrap: wrap;

    max-width: 270px;
  }

  &__links-item {
    border-radius: 3px;

    transition: 0.1s;
    margin: 0 20px 20px 0;

    &:last-of-type {
      margin: 0 0 20px 0;
    }

    &:hover {
      transform: scale(1.2);
      transition: all 0.1s;
    }
  }

  &__links-wrapper {
    display: inline-block;

    width: 30px;
    height: 30px;

    &:focus-visible {
      outline: 3px solid var(--color-geebung);
      outline-offset: 5px;

      transition: all 0.1s;
    }
  }

  &__map {
    width: 100%;
    height: 550px;
    border-radius: 20px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  }

  &__map-inner {
    width: 100%;
    height: 550px;
    border-radius: 20px;
  }

  &__order-button {
    width: 250px;
    height: 55px;
  }
}