@use "../mixins";

.page-footer {
  flex-shrink: 0;

  background-color: var(--color-cod-gray);

  &__underline-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 0 20px 0;
  }

  &__underline-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: var(--color-gray);

    transition: 0.3s;

    &:hover {
      color: var(--color-geebung);

      transition: all 0.3s;
    }
  }

  &__underline-madeby {

    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: var(--color-gray);

      margin: 0 5px 0 0;
    }

    &:hover .page-footer__underline-madeby-text {
      color: var(--color-geebung);

      transition: all 0.3s;
    }

  }

  &__underline-madeby-icon {
    background-color: var(--color-dorado);
  }
 }
