@use "../mixins";

html {
	box-sizing: border-box;

	// scroll-behavior: smooth;

	-webkit-tap-highlight-color: transparent;
}

*,:after,:before {
	box-sizing: inherit;
}

body {
	position: relative;

	display: flex;
	flex-direction: column;

  width: 100%;
  min-height: 100vh;

	font-family: var(--font-family-default);

  margin: 0;
}
