:root {
	// Цвета
	--color-geebung: #cc7d1a;
	--color-raw-umber: #825011;
	--color-dorado: #5F5753;
	--color-domino: #9C8364;
	--color-asphalt: #1b100a;
	--color-white: #ffffff;
	--color-black: #000000;

	// Шрифты
	--font-family-default: "Inter", system-ui, sans-serif;
}