:root {
	// Цвета
	--color-geebung: #cc7d1a;
	--color-raw-umber: #825011;
	--color-dorado: #5f5753;
	--color-domino: #9c8364;
	--color-asphalt: #1b100a;
	--color-mercury: #e6e6e6;
	--color-merino: #f4ece0;
	--color-tea: #c3bcb3;
	--color-westar: #dbd8d1;
	--color-dorado: #5f5753;
	--color-pampas: #ebe6e0;
	--color-gallery: #eaeaea;
	--color-cod-gray: #1c1c1c; 
	--color-loblolly: #b8c2c9;
	--color-gray: #878282;
	--color-white: #ffffff;
	--color-black: #000000;

	// Шрифты
	--font-family-default: "Inter", system-ui, sans-serif;
}